/bin
/build3/gmake
/build3/vs2010
/build_cmake/

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestFile.cmake

# Visual Studio build files
*.vcxproj
*.vcxproj.filters
*.sln

# Apple Finder metadata
*.DS_Store

# vim temp files
*.swp

Makefile
*.a
*.cmake

Extras/BulletRobotics/bullet_robotics.pc
Extras/BulletRoboticsGUI/bullet_robotics_gui.pc
Extras/obj2sdf/App_obj2sdf
bullet.pc
examples/BasicDemo/AppBasicExampleGui
examples/BasicDemo/App_BasicExample
examples/ExampleBrowser/App_ExampleBrowser
examples/HelloWorld/App_HelloWorld
examples/RobotSimulator/App_HelloBulletRobotics
examples/RobotSimulator/App_HelloBulletRobotics-2.89
examples/RobotSimulator/App_RobotSimulator
examples/RobotSimulator/App_RobotSimulator-2.89
examples/RobotSimulator/App_RobotSimulator_NoGUI
examples/RobotSimulator/App_RobotSimulator_NoGUI-2.89
examples/SharedMemory/App_PhysicsServer_SharedMemory
examples/SharedMemory/App_PhysicsServer_SharedMemory_GUI
examples/SharedMemory/App_PhysicsServer_SharedMemory_VR
examples/TwoJoint/App_TwoJoint
examples/TwoJoint/App_TwoJoint-2.89
test/BulletDynamics/Test_btKinematicCharacterController
test/BulletDynamics/pendulum/Test_BulletDynamics
test/InverseDynamics/Test_BulletInverseDynamics
test/InverseDynamics/Test_BulletInverseDynamicsJacobian
test/InverseDynamics/Test_BulletInverseForwardDynamics
test/SharedMemory/Test_PhysicsClientServer
test/collision/Test_Collision

